body {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: lightgray;
  margin-bottom: 16px;
  appearance: none;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #d8e1ea;
  padding: 10px 15px;
  font-family: inherit;
  font-size: 16px;
  outline: 0;
  box-sizing: border-box;
  margin-top: 8px;
}

.address-input {
  width: 100%;
}

.connect-button {
  display: block;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  margin-top: 16px;
  margin-bottom: 16px;
}

.submit-button {
  display: block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

select {
  height: 35px;
  border-radius: 20px;
  border: 1px solid #d8e1ea;
  padding: 0px 15px;
  font-size: 16px;
}

.form * {
  word-break: break-word;
}

.input-row input {
  margin-right: 5px;
}

.your-address {
  margin-top: 8px;
  margin-bottom: 16px;
}

.form {
  padding-top: 20px;
  margin-bottom: 10px;
}

#wrapper {
  max-width: 700px;
  display: inline-block;
  padding: 0 20px 60px 0;
  box-sizing: border-box;
  position: relative;
}

#root {
  text-align: center;
}

.inline {
  display: inline-block;
}

.error {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  margin-bottom: 16px;
  padding: 20px;
  color: red;
}

.success {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  margin-bottom: 16px;
  padding: 20px;
  color: green;
}

button {
  appearance: none;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #d8e1ea;
  padding: 0px 15px;
  font-size: 16px;
}

.submit-msg {
  margin-bottom: 8px;
}

.swap-link {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  margin-bottom: 16px;
  padding: 20px;
  color: green;
  cursor: pointer;
}

.submit-swap-title {
  margin-bottom: 16px;
}

.submit-swap-label {
  margin-top: 16px;
  margin-bottom: 2px;
}

.submit-sign-and-submit-button {
  display: block;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.warning {
  color: orangered;
  margin-bottom: 12px;
}

.footer {
  position: fixed;
  left: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer > *:not(:last-child) {
  margin-right: 20px;
}

a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.copy {
  margin-left: 10px;
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1201;
}

.modal-content {
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  border: 1px solid grey;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 2000;
}

.modal-content-size {
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
}

.modal-topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #1a47d3;
  padding-bottom: 10px;
}

.modal-topbar-title {
  margin: 0;
  color: #1a47d3;
}

.modal-topbar-x {
  margin: 0;
  cursor: pointer;
}

.modal-body {
  max-height: 220px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.modal-body::-webkit-scrollbar {
  width: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #888;
}

@media only screen and (max-width: 460px) {
  .modal-content-size {
    max-width: 350px;
    min-width: 350px;
    min-height: 350px;
  }
}
