.dropdown {
  position: relative;

  &__content {
    position: absolute;
    right: 0;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    background: var(--clr-bg-lighter);
    box-shadow: 0px 8px 28px #0c0e14;
    border-radius: 4px;
    z-index: 10;
  }
}
