.footer {
  padding: 100px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border: var(--border);
    border-radius: 32px;

    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &__menu {
    position: relative;

    &:hover,
    &:focus-within,
    &:focus {
      .footer__menu__list {
        display: flex;
      }
    }

    &__wrapper {
      position: absolute;
      bottom: calc(100%);
      right: 0;
      width: 180px;
      padding-bottom: 10px;
    }

    &__list {
      display: none;
      flex-direction: column;
      padding: 8px;
      background: #262730;
      border-radius: 4px;

      li {
        list-style: none;
      }

      button {
        width: 100%;
        display: block;
        padding: 6px;
        text-align: left;
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        background-color: transparent;
        color: var(--clr-white);
        border: none;
        border-radius: 4px;
        white-space: nowrap;
        transition: background-color 0.2s ease-in-out;

        &:hover,
        &:focus {
          background: #2e93f7;
        }
      }
    }
  }
}
