.footer {
  padding: 100px 0 20px;
  display: grid;
  grid-template-columns: 40px 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border: var(--border);
    border-radius: 32px;
    transition: border-color 0.2s ease-in-out;

    &:hover {
      border-color: var(--clr-white);
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }

  &__menu {
    position: relative;

    &:hover,
    &:focus-within,
    &:focus {
      .footer__menu__wrapper {
        pointer-events: all;
      }
      .footer__menu__list {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__wrapper {
      position: absolute;
      bottom: calc(100%);
      left: 0;
      width: 180px;
      padding-bottom: 10px;
      pointer-events: none;

      @media only screen and (min-width: 500px) {
        right: 0;
        left: unset;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      padding: 8px;
      background: #262730;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      li {
        list-style: none;
      }

      button {
        width: 100%;
        display: block;
        padding: 6px;
        text-align: left;
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        background-color: transparent;
        color: var(--clr-white);
        border: none;
        border-radius: 4px;
        white-space: nowrap;
        transition: background-color 0.2s ease-in-out;

        &:focus {
          outline: none;
        }

        &:hover,
        &:focus {
          background: #2e93f7;
        }
      }
    }
  }
}
