.label {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: var(--clr-text);
}

.swap-field {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 24px;
    z-index: 10;
  }

  &__btns,
  &__currency-icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
  }
}
