.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &-text {
    display: none;
    fill: var(--clr-white);
    width: 80px;

    @media only screen and (min-width: 480px) {
      display: block;
    }
  }

  &-img {
    display: block;
    width: 24px;
    height: auto;
    fill: var(--clr-white);

    @media only screen and (min-width: 480px) {
      width: 17px;
      height: 16px;
    }
  }
}
