.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1201;

  &-content {
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: var(--clr-bg-lighter);
    border: var(--border);
    border-radius: 8px;
    z-index: 2000;

    @media only screen and (max-width: 480px) {
      width: calc(100% - 20px);
    }

    &-size {
      max-width: 400px;
    }
  }

  &-topbar {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--clr-white);
  }

  &-body {
    max-height: 328px;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgb(38, 39, 48);
      -webkit-box-shadow: inset 0 0 6px rgba(38, 39, 48, 0.3);
      box-shadow: inset 0 0 6px rgba(38, 39, 48, 0.3);
      border-radius: 8px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 100%, 0.2);
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 100%, 0.2);
      box-shadow: inset 0 0 6px hsla(0, 0%, 100%, 0.2);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(167, 167, 167);
    }

    p,
    li {
      margin-block: 8px 0;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #d6d6dc;
    }

    p:first-child {
      margin-top: 0;
    }

    li {
      margin-left: 24px;
    }
  }

  &-close {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &-ctas {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }
}

.open-wallet-modal {
  background-color: rgba(37, 41, 46, 0.95);
  animation: fade-in 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in-content 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }

  &-body {
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 50px 5px rgb(0 0 0 / 40%);
    padding: 24px;
  }

  &-topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-header {
    display: flex;
    img {
      height: 21px;
    }

    span {
      color: #ffffff;
      font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text",
        medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
        ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      align-items: flex-start;
      display: flex;
      flex: 1;
      margin-left: 5px;
    }
  }

  &-msg {
    color: rgba(60, 66, 82, 0.6);
    font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text",
      medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
      ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1875em;
    text-align: center;
    width: 100%;
  }

  &-close {
    background: white;
    border: none;
    border-radius: 26px;
    padding: 6px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: grid;
    place-content: center;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      stroke: rgb(48, 52, 59);
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

@keyframes fade-in {
  0% {
    background-color: rgba(37, 41, 46, 0);
  }

  100% {
    background-color: rgba(37, 41, 46, 0.95);
  }
}

@keyframes fade-in-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
